<section class="admin-products-index">
<header class="page-header">
<h1>Admin &raquo; Dashboard</h1>
</header>

<h2> Total number of products : <%= @products %> </h2>
<h2> Total number of categories : <%= @categories %> </h2>
</section>